*{
    margin: 0;
    padding: 0;
}
p{
    border: 2px solid powderblue;
    margin: 50px;
}
h1 {
    color: rgb(247, 94, 22);
    text-align: center;
}
body{
    background: #e8141433;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    justify-content: center;
    display: flex;
}
.cover{
    width: 400px;
    height: 500px;
    background: #c1939333;
    display: flex;
}
.box{
    margin: 10px;
    width: 500px;
    height: 500px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
}
